
.container{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}
.items{
    flex-basis: 100%;
        
     height: 300px;
     color: rgb(10, 10, 10);
     padding-left: 300px;
     
     border: 1px solid rgb(18, 221, 211);
     background-color: rgb(18, 221, 211);

}
.top{
    flex-basis: 100%;
    width: 600px;
    background-color: white; 
     height: 850px;
     color: rgb(10, 10, 10);
     padding-left: 60px;
     margin: 10px;
     border: 1px solid black;
     margin-top: 20px;     


}
input{
    width: 500px;
}
#ottiaa{
    height: 50px;
}
#praise{
    height: 100px;
}
